<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="Tic Tac Toe Game"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TicTacToeGame">
        <activity
            android:name=".AppInfoActivity"
            android:exported="false"
            android:screenOrientation="userPortrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="Settings"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Tic Tac Toe Game"
            android:screenOrientation="userPortrait"
            android:showWhenLocked="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.VIBRATE"/>
</manifest>